*{
    margin: 0;
    padding: 0;}

html{
    font-size: 20px;
}
ul{
    list-style: none;
}

.bmi{
    
    width: 80%;
    margin: 0 auto;
    min-width: 800px;
}
.bmi h2{
    background-color: rgb(3, 122, 29);
    padding: 1rem;
    color: #fff;
}

.bmi h2+p{
    background-color: #d3d1d1;
    margin: 1rem;
    padding: 1rem;

}

.bmi h2+p+div{
    background-color: #ebebeb;
    padding: 1rem;
    margin: 1rem;

}
.bmi h2+p+div dl{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem; 
    

}
.bmi h2+p+div dl>dt{
    /* border: 1px solid black; */
    width: 50%;
    box-sizing: border-box;
}
.bmi h2+p+div dl>dd{
    /* border: 1px solid black; */
    width: 50%;
    box-sizing: border-box;
    color: red;
}
.bmiBarlist{
    /* border: 1px solid red; */
    display: flex;

}
.bmiBarlist>li>span{
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%) translateX(100%);
    /* 브라우저가 읽는방향 때문에 나란히 배치 중요!!!
    = translate(X%,Y%) */
}
.bmiBarlist li{
    /* border: 1px solid blue; */
    position: relative;
    padding: 10px;
}

.bmiBarlist li:nth-of-type(1){
    flex: 1.4;
    background-color: rgb(17, 241, 137);
}
.bmiBarlist li:nth-of-type(2){
    flex:1.2 ;
    background-color: rgb(255, 123, 0);
}
.bmiBarlist li:nth-of-type(3){
    flex:1 ;
    background-color: rgb(248, 6, 147);
}
.bmiBarlist li:nth-of-type(4){
    flex: 2;
    background-color: rgb(255, 0, 0);
}
